r79ci78s86785 45i 2ñū30jk6m+u6ti7*8/ l,+
fku.xml.bak
target/
d48vn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.attach_pid*
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
r\u/fo
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
 k\rug
### VS Code ###
.vscode/

# Environment / Security
.env

# Logs
*.log

#frontend
src/main/frontend/node_modules/

/vscode