/* Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
	background-color: #0d0d0d;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Navbar */
.navbar {
	background-color: #0d0d0d;
	padding: 1rem 0;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 0.7px solid #313231;
	z-index: 1000;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	max-width: 1200px;
}

.brand {
	font-size: 1.7rem;
	font-weight: 700;
	color: #eeeeee;
	display: flex;
	align-items: center;
	gap: 8px;
}

.brand .material-symbols-outlined {
	font-size: 30px;
	color: #00c678;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 20px;
}

.nav-links a {
	color: #00c678;
	text-decoration: none;
	font-size: 1rem;
	transition: color 0.3s ease;
}

.nav-links a:hover {
	color: #ffffff;
	/*background-color: #00a155;*/
	text-decoration: 1px underline white;
}

/* Container */
.container {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	text-align: center;
}

/* Premium & Non-Premium Sections */
.premium, .non-premium {
	margin-top: 20px;
}
h1{
	font-weight: 700;
}

/* Buttons */
/* Styling the submit button */
button {
	display: inline-block;
	padding: 10px 20px;
	 /*margin: auto;*/
	margin-top: 40px;
	color: white;
	border: 1px solid #252526;
	cursor: pointer;
	background-color: #0d0d0d;
	transition: background-color 0.3s ease;

}

button:hover {
	background-color: #e7e7e7;
	color: #0d0d0d;
}


/* Table */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	background-color: #0d0d0d;
	color: #ffffff;
	border-radius: 8px;
	/* overflow: hidden; */
	border: 1px solid #494949;
}

th, td {
	padding: 12px;
	text-align: center;
	border: 1px solid #494949;
	color:#ff553d;
}

th {
	background-color: #0d0d0d0d;
	color: white;
}

/* Footer */
footer {
	text-align: center;
	padding: 15px;
	background-color: #0d0d0d;
	color: white;
	border-top: 0.7px solid #4d4d4d;
}