* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {

    background-color: #f0f0f0;
}

header {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
}

main {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #000000;
    color: white;
    border: 2px solid #ffffff;

}

th:hover {
    background-color: #8a05ff;
    color: black;
    border: 2px solid #f6f6f6;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}