@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  font-family: "Poppins", sans-serif;
  /* user select text should be red */
  /* copy color */
}

h1 {
  font-size: 3.5rem;
}
/* h1 {
  font-size: 4.25rem;
} */
h2 {
  font-size: 2.75rem;
}
h3 {
  font-size: 1.625rem;
}

body {
  background-color: #052d23;
  font-family: system-ui, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  margin: 0 auto;
  padding: 1em;
  /* max-width: 800px; */
  /* background-color: #5cdb94; */

  color: white;
}

header {
  /* background-color: #052d23; */
  /* background-color: #05396b; */
  /* background: linear-gradient(145deg, rgb(119, 46, 195), rgb(58, 18, 153)); */
  /* background-clip: text; */
  /* color: #000000; */
  text-align: center;
  /* opacity: 0.7; */
  /* padding: 10px; */
  /* top: 0; */
  width: 95%;
  margin: auto;
  border-bottom: 1px solid #414141;
  /* font-size: 20px; */
  /* font-family: "Roboto", sans-serif; */

  /*margin: 10px;*/
  /*transition: border-bottom 0.3s ease-in-out;*/
}

header:hover {
  /*background-color: #ffffff;*/
  /*color: #000000;*/
  /* opacity: 1; */
  border-bottom: 1px solid #ffffff;
  /*text-decoration-thickness: 0.1em;*/
  /*text-decoration-color: #6db33f;*/
  /*text-decoration-style: solid;*/
  /*text-decoration-line: underline;*/
  /*text-underline-offset: .5em;*/
  transition: 0.6s;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: #f5f5f5; */
  flex-direction: column;
  /* padding: 0 20px; */
}

button {
  background-color: #034232;
  color: #ffffff;
  padding: 14px 20px;
  /*border-radius: 5px;*/
  border: 1px solid white;
  margin: 7px 0;
  gap: 10px;
  width: 30%;
  font-size: 1rem;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  opacity: 0.7;
  z-index: 2;
}

button:hover {
  background-color: #daff99;
  cursor: pointer;
  transition: 0.7s;
  color: black;
}

/* * { */
/* scrollbar-width: thin;
  scrollbar-color: #6db33f #052d23;
}

.scroll-reveal h3 {
  font-size: 2rem;
  line-height: 1;
  text-align: center;
}

.scroll-reveal p {
  font-size: 1.75rem;
  line-height: 1.5;
  max-width: 55ch;
  margin-inline: auto;
}

.scroll-reveal * {
  margin: 0;
}

.scroll-reveal span {
  color: hsl(0 0% 100% /0.2);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-image: linear-gradient(90deg, white, white);
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
}

.scroll-reveal h3 span {
  animation-range-start: cover 20vh;
  animation-range-end: cover 30vh;
}
.scroll-reveal p span {
  animation-range-start: cover 22.5vh;
  animation-range-end: cover 50vh;
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
} */

:root {
  --glow-rgb: 239 42 201;
}
body {
  background: linear-gradient(145deg, rgb(119, 46, 195), rgb(58, 18, 153));
  height: 100vh;
  /* overflow: hidden; */
}
body {
  background: #222;
  height: 100vh;
  /* overflow: hidden; */
  background-image: url(https://cdn.dribbble.com/userupload/12531692/file/original-067da4a35217a1f590cc4c5a0e0b4822.png?resize=1200x900);
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem #daff99;
  pointer-events: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.star {
  position: absolute;
  font-size: 1rem;
  color: white;

  animation: fall 1500ms forwards;
}
@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg)
      scale(0.25);
    opacity: 0;
  }

  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg)
      rotateZ(0deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg)
      rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }

  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg)
      scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }

  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg)
      scale(0.5);
    opacity: 0;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cursor {
  display: inline;
  animation: blink 1s infinite;
  color: teal;
}
