@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: false;
}

.form__container {
    animation: 2s gradient-angle infinite linear;
    border: 2px solid transparent;
    background-image: linear-gradient(#c7a03c, #f9de90),
    conic-gradient(
            from var(--gradient-angle),
            #584827 0%,
            #c7a03c 37%,
            #f9de90 30%,
            #c7a03c 33%,
            #584827 40%,
            #584827 50%,
            #c7a03c 77%,
            #f9de90 80%,
            #c7a03c 83%,
            #584827 90%
    );
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

@keyframes gradient-angle {
    to {
        --gradient-angle: 1turn;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
}

.form__container {

    color: var(--card-foreground);
    padding: 2rem;

    margin-inline: auto;

    border-radius: 1rem;
    box-shadow: var(--shadow-md, 0 4px 10px rgba(0, 0, 0, 0.1));


}

.form__heading h2 {
    font-size: var(--font-24);

    text-align: center;
    font-family: var(--font-mono), sans-serif;
    font-weight: 700;

}

.input__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input__container label {
    font-family: var(--font-mono), sans-serif;
    font-size: var(--font-18);
    color: var(--title-color);
    display: block;
    width: 100%;
}

.input__container input[type="email"],
.input__container input[type="password"] {
    padding: 1rem 1.4rem;
    border: 1px solid var(--ring);
    background-color: transparent;
    color: #414141;
    border-radius: 0.6rem;
    font-size: var(--font-18);
    transition: box-shadow 0.2s ease;
    width: 20.5625rem;
    height: 2.9375rem;

}

.input__container input:focus {
    outline: none;
    box-shadow: var(--shadow-2xl);
}

.text__login {
    color: var(--foreground);
    font-size: var(--font-18);

    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    font-family: var(--font-mono), sans-serif;
}

.text__login a {
    color: var(--ring);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: lighter;
    font-size: var(--font-18);
}

.form__container button {
    font-family: var(--font-mono), sans-serif;
    outline: none;
    border: none;

    margin-inline: auto;
    background-color: transparent;
    font-size: var(--font-18);
    transition: color 0.7s ease-in-out;
}

.form__container button:hover {
    border: none;
    cursor: pointer;

    color: var(--destructive);
}
