body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--text-color);
    align-items: center;
    justify-content: center;
}

/* Styling the form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);

    padding: 20px;
    border-radius: 4px;
    width: 100%;
    margin: 0 auto;

    color: var(--white);
    /*border: 1px solid #f0f0f0 ;*/
    border: none;
    height: auto;
}

form label {
    font-weight: 400;
    font-size: medium;
}

/* Styling the form inputs */
input[type="text"],
input[type="email"],
input[type="password"] {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 329px;
    height: 47px;
    border-radius: 4px;
    outline: none;
    color: var(--white);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 5px #bd93f980;
}

input::placeholder {
    color: var(--primary-color);
}

Styling the submit button *

/
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 8px;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 8px;
    flex-wrap: wrap;
    flex-direction: column;
}

.button-52 {
    color: var(--background);
    font-size: 16px;
    width: 329px;
    height: 39px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--primary-color);
    transition: background 0.3s ease-in-out;
    border: none;
}

.button-52:hover {
    background-color: #caa9fa;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 600px) {
    /* Adjust the form width and padding for smaller screens */
    form {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
    }

    /* Adjust the form input width for smaller screens */
    form input {
        width: 90%;
        background-color: #0d0d0d;
        line-height: 1.5rem;
    }

    /* Adjust the header text size for smaller screens */
    header h1,
    header h4 {
        font-size: 1.2em;
    }
}

::selection {
    background-color: var(--primary-color);
    color: var(--white);
}
