*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-color: #fee63c;
}

h1 {
    text-align: center;
    color: #000000;
    margin-top: 20px;
    font-size: 40px;
}

header {
    background-color: #fee63c;
    color: #000000;
    text-align: center;
    padding: 10px;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #000000;
    transition: border-bottom 0.3s ease-in-out;
}

header:hover {
    background-color: #fee63c;
    color: #000000;
    border-bottom: 2px solid #ffffff;
    transition: 0.6s;
}

main {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    min-height: 100vh;
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*margin-top: 30vh;*/
}


.button-52 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 2px solid #052d23;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: 0.2s;
    margin-bottom: 20px;
    color: white;
}

.button-52:after {
    content: "";
    background-color: #002c6f;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.button-52:hover:after {
    top: 0px;
    left: 0px;
}

@media (min-width: 768px) {
    .button-52 {
        padding: 13px 50px 13px;
    }
}
