@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0turn;
    inherits: false;
}

.form__container {
    animation: 2s gradient-angle infinite linear;
    border: 2px solid transparent;
    background-image: linear-gradient(#c7a03c, #f9de90),
    conic-gradient(
            from var(--gradient-angle),
            #584827 0%,
            #c7a03c 37%,
            #f9de90 30%,
            #c7a03c 33%,
            #584827 40%,
            #584827 50%,
            #c7a03c 77%,
            #f9de90 80%,
            #c7a03c 83%,
            #584827 90%
    );
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
}

@keyframes gradient-angle {
    to {
        --gradient-angle: 1turn;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    flex-direction: column;
}


.form__container {
    border-radius: .6rem;
}

.form__container form {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding: 2rem;
    gap: 0.6rem;
    border-radius: 0.8rem;

}

.form__heading h2 {
    font-size: var(--font-24);

    text-align: center;
    font-family: var(--font-sans), sans-serif;
    font-weight: 500;

}

input[type="text"],
input[type="email"],
input[type="password"] {

    padding: 1rem 1.4rem;
    font-size: var(--font-18);
    width: 20.5625rem;
    height: 2.9375rem;
    border-radius: 4px;
    outline: none;
    color: #414141;
    background-color: transparent;
    border: 1px solid var(--ring);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: var(--shadow-2xl);
}

form fieldset {
    margin: 10px;
    border: 2px solid transparent;
    display: flex;
    gap: 10px;
    /* flex-wrap: wrap; */
    align-items: center;
}

fieldset label {
    margin-right: 10px;
    font-weight: lighter;
    font-size: 1.2rem;
}

input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--border);
    background-color: #ffffff;

    cursor: pointer;
}

legend {
    color: var(--title-color);
    font-size: var(--font-18);
    font-weight: 400;
}

input[type="radio"]:checked {
    background-color: #a67c52;
}

.text__login {
    color: var(--foreground);
    font-size: var(--font-18);

    text-align: center;
    font-weight: lighter;

    width: 100%;

    font-family: var(--font-mono), sans-serif;
}

.text__login a {
    color: var(--ring);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: lighter;
    font-size: var(--font-18);
    margin-inline: auto;
}

.form__container button {
    font-family: var(--font-mono), sans-serif;
    outline: none;
    border: none;
    margin-inline: auto;
    background-color: transparent;
    font-size: var(--font-18);
    transition: color 0.7s ease-in-out;
}

.form__container button:hover {
    border: none;
    cursor: pointer;

    color: var(--ring);
}
