<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<footer th:fragment="footer">
    <div class="footer__container">
<!--        <div id="healthStatus">Loading...</div>-->
        <ul class="footer__links">
            <li class="logo" th:utext="#{footer}">
            </li>


            <div class="footer__logo">

                <li th:fragment="footerItem(footerLink,footerTitle,footerIcon)">
                    <a class="social-icon" th:href="@{__${footerLink}__}" th:title="${footerTitle}" target="_blank">
                        <span th:class="'fa fa-'+${footerIcon}"></span>
                    </a>
                </li>

                <li th:replace="~{::footerItem('https://github.com/ashirbaddash','github','github')}"></li>
                <li th:replace="~{::footerItem('https://www.linkedin.com/in/ashirbaddash','linkedin','linkedin')}"></li>
                <li th:replace="~{::footerItem('https://x.com/ASHIRBAD__DASH','twitter','twitter')}"></li>

            </div>
        </ul>
    </div>
</footer>

</body>
</html>