<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>footer</title>
</head>
<body>

<footer th:fragment="footer">
    <div class="footer__container">

        <ul class="footer__links">
            <li class="logo">&copy; 2025 TuneHub Music Streaming App. All rights reserved.</li>
            <div class="footer__logo">
                <li><a class="social-icon" href="https://github.com/ashirbaddash" target="_blank"> <i
                        class="fa fa-github"></i></a></li>
                <li><a class="social-icon" href="https://linkedin.com/ashirbaddash" target="_blank"> <i
                        class="fa fa-linkedin"></i></a></li>
                <li><a class="social-icon" href="https://x.com/ASHIRBAD__DASH" target="_blank"> <i
                        class="fa fa-twitter"></i></a></li>
            </div>
        </ul>
    </div>


</footer>


</body>
</html>