<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
</head>
<body>

<header th:fragment="header">
    <div class="nav__container">


        <nav>
            <ul class="nav__links">
                <li class="logo"><a aria-label="Homepage" href="/static">TuneHub</a></li>

                <li><a href="/">Home</a></li>
                <li><a href="register">Signup</a></li>
                <li><a href="pay">Subscribe</a></li>


            </ul>


        </nav>

    </div>
</header>


</body>
</html>