<div
  th:fragment="card-gallary"
  class="carousal relative m-[100px] mx-auto flex overflow-x-hidden"
  xmlns:th="http://www.thymeleaf.org"
>
  <div
    class="group flex items-center justify-center gap-[1em] animate-slide pr-[1em]"
  >
    <div class="card-gallary">
      <img
        loading="lazy"
        th:src="@{/static/images/Gabrielle-Current-Release-Secured-720x720.jpg}"
        alt="Gabrielle"
      />
    </div>

    <div class="card-gallary">
      <img loading="lazy" th:src="@{/images/Kelkoe-720x720.jpg}" alt="Kelkoe" />
    </div>
    <div class="card-gallary">
      <img loading="lazy" th:src="@{/images/Kelle-720x720.jpg}" alt="kelle" />
    </div>
    <div class="card-gallary">
      <img
        loading="lazy"
        th:src="@{/images/Kennedy-Ryon-720x720.jpg}"
        alt="kennedy"
      />
    </div>
    <div class="card-gallary">
      <img
        loading="lazy"
        th:src="@{/images/Mannywellz-Release-Secured-720x720.jpg}"
        alt="mannywellz"
      />
    </div>
    <div class="card-gallary">
      <img
        loading="lazy"
        th:src="@{/images/Trey-Kams-Release-Secured-720x720.jpeg}"
        alt="Trey Kams"
      />
    </div>
  </div>

  <div
    aria-hidden
    class="group flex items-center justify-center gap-[1em] animate-slide pr-[1em]"
  >
    <div class="card-gallary">
      <img
        loading="lazy"
        th:src="@{/images/Gabrielle-Current-Release-Secured-720x720.jpg}"
        alt="Gabrielle"
      />
    </div>

    <div class="card-gallary">
      <img loading="lazy" th:src="@{/images/Kelkoe-720x720.jpg}" alt="Kelkoe" />
    </div>
    <div class="card-gallary">
      <img loading="lazy" th:src="@{/images/Kelle-720x720.jpg}" alt="kelle" />
    </div>
    <div class="card-gallary">
      <img
        loading="lazy"
        th:src="@{/images/Kennedy-Ryon-720x720.jpg}"
        alt="kennedy"
      />
    </div>
    <div class="card-gallary">
      <img
        loading="lazy"
        th:src="@{/images/Mannywellz-Release-Secured-720x720.jpg}"
        alt="mannywellz"
      />
    </div>
    <div class="card-gallary">
      <img
        loading="lazy"
        th:src="@{/images/Trey-Kams-Release-Secured-720x720.jpeg}"
        alt="Trey Kams"
      />
    </div>
  </div>
</div>
