<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout}">
<head>
    <title>Register</title>
</head>
<body>
<main layout:fragment="content">
    <div class="container mx-auto p-8 max-w-md">
        <div class="card bg-base-200 shadow-xl">
            <div class="card-body">
                <h2 class="card-title justify-center mb-4">Create Account</h2>

                <form method="post" th:action="@{/users/register}" th:object="${newUser}">
                    <div class="form-control mb-4">
                        <label class="label" for="username">
                            <span class="label-text">Username</span>
                        </label>
                        <input type="text" id="username" th:field="*{username}" class="input validator w-full" required
                               placeholder="Username"
                               pattern="[A-Za-z][A-Za-z0-9\-]*" minlength="3" maxlength="30"
                               title="Only letters, numbers or dash"/>
                        <p class="validator-hint">
                            Must be 3 to 30 characters
                            <br/>containing only letters, numbers or dash
                        </p>
                    </div>

                    <div class="form-control mb-4">
                        <label class="label" for="email">
                            <span class="label-text">Email</span>
                        </label>

                        <input class="input validator w-full" id="email" th:field="*{email}" type="email" required
                               placeholder="mail@site.com"/>
                        <div class="validator-hint">Enter valid email address</div>
                    </div>

                    <div class="form-control mb-4">
                        <label class="label" for="password">
                            <span class="label-text">Password</span>
                        </label>
                        <input type="password" class="input validator w-full" id="password" th:field="*{password}"
                               required placeholder="Password" minlength="8"
                               pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                               title="Must be more than 8 characters, including number, lowercase letter, uppercase letter"/>
                        <p class="validator-hint">
                            Must be more than 8 characters, including
                            <br/>At least one number
                            <br/>At least one lowercase letter
                            <br/>At least one uppercase letter
                        </p>
                    </div>


                    <div class="form-control mt-6">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>

                <div class="divider">OR</div>

                <div class="text-center">
                    <p class="mb-2">Already have an account?</p>
                    <a th:href="@{/users/login}" class="btn btn-outline">Login</a>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>

