<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <link rel="stylesheet" th:href="@{/css/createPlaylists.css}"/>
    <link rel="stylesheet" th:href="@{/css/commonStyles.css}"/>
    <link rel="icon" th:href="@{/images/music.png}" type="image/png"/>
    <!--    <link rel="stylesheet" href="../static/commonStyles.css">-->
    <!--    <link rel="stylesheet" href="../static/createPlaylists.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap"
          rel="stylesheet">
    <title>PLAYLIST</title>
</head>

<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="nav-container">
        <h1 class="brand">
            <span class="material-symbols-outlined">music_cast</span><a class="logo" href="home">TuneHub</a>
        </h1>
        <ul class="nav-links">
            <li><a href="admin">Admin Dashboard</a></li>
            <li><a href="registration">Signup</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</nav>

<!-- Header -->
<header>
    <h2>Create Playlist</h2>
</header>

<!-- Main Content -->
<div class="container">
    <div class="box">
        <form action="addPlaylists" autocomplete="off" method="post">
            <!-- Playlist Name -->
            <!-- <label for="playlistName" class="text-white" style="margin-right: 20px">
        Playlist Name
      </label> -->
            <input class="input-field" id="playlistName" name="name" placeholder="Playlist Name" required
                   type="text"/>

            <!-- Songs Label (Displayed Only Once) -->
            <label style="display:block; margin: 20px 0; font-weight: bold;">
                Add Song
            </label>

            <!-- Songs List -->
            <div>
                <div class="checkbox-wrapper-2" th:each="songs : ${song}">
                    <input class="ikxBAC" th:id="'song-' + ${songs.id}" th:name="songs" th:value="${songs.id}"
                           type="checkbox"/>
                    <label style="margin-left: 10px" th:for="'song-' + ${songs.id}" th:text="${songs.name}"></label>
                </div>

            </div>

            <!-- Submit Button -->
            <button class="button-52">Create</button>
        </form>
    </div>
</div>

<!-- Footer -->
<footer>
    <p>&copy; 2025 TuneHub Music Streaming App. All rights reserved.</p>
</footer>

</body>

</html>