<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>PLAYLIST</title>
    <link rel="stylesheet" th:href="@{/ViewPlaylist.css}"/>
    <link rel="stylesheet" th:href="@{/commonStyles.css}"/>
    <!--    <link rel="stylesheet" href="../static/viewPlaylist.css"/>-->
    <!--    <link rel="stylesheet" href="../static/commonStyles.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap"
          rel="stylesheet">

</head>

<body>
<!-- Navbar --> 1
<nav class="navbar">
    <div class="nav-container">
        <h1 class="brand">
            <span class="material-symbols-outlined">music_cast</span><a class="logo" href="home">TuneHub</a>
        </h1>
        <ul class="nav-links">
            <li><a href="admin">Admin panel</a></li>
            <li><a href="registration">Signup</a></li>
            <li><a href="logout">Logout</a></li>
        </ul>
    </div>
</nav>

<header>
    <h2>View Playlist</h2>
</header>

<main>
    <table class="container">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Songs</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="all:${allPlaylist}">
            <td th:text="${all.id}"></td>
            <td th:text="${all.name}"></td>
            <td>
                <ul>
                    <li class="audio" th:each="s1:${all.songs}">
                        <div class="song-item">
                            <span th:text="${s1.name}"></span>
                            <!--                            <audio controls>-->
                            <!--                                <source th:src="${s1.link}"/>-->
                            <!--                            </audio>-->
                        </div>
                    </li>

                    <!--                    <li class="audio" th:each="s1:${all.songs}">-->
                    <!--                        <span th:text="${s1.name}"></span>-->
                    <!--                        <audio controls>-->
                    <!--                            <source th:src="${s1.link}" type="audio/mpeg">-->
                    <!--                            Your browser does not support the audio element.-->
                    <!--                        </audio>-->
                    <!--                    </li>-->
                    <!--                    -->
                </ul>
            </td>

            <!--            <td>-->
            <!--                <ul>-->
            <!--                    <li th:each="s1:${all.songs}">-->
            <!--                        <span th:text="${s1.name}"></span>-->
            <!--                        <button onclick="window.open('${s1.link}', '_blank')">Play Song</button>-->
            <!--                    </li>-->
            <!--                </ul>-->
            <!--            </td>-->
        </tr>
        </tbody>
    </table>
</main>
<!-- Footer -->
<footer>
    <p>&copy; 2025 TuneHub Music Streaming App. All rights reserved.</p>
</footer>

</body>

</html>