main {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.form__heading {
    width: 100vw;

    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.form__heading h2 {
    font-size: var(--font-24);
    font-weight: lighter;
    font-family: var(--font-mono);

    & mark {
        background-color: #e9d5ff;
        color: var(--forground);
    }
}


.button__container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 1rem;


}

.button-52 {
    padding: .6rem 1rem;
    width: 10rem;

    background-color: transparent;
    border: 1px solid var(--border);
    font-family: "Space Grotesk", sans-serif;
    font-size: 0.875rem;
    border-radius: 2rem;
    /*  transition:  all 150ms;*/
    cursor: pointer;
    box-shadow: var(--shadow-2xl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s linear;
}

.button-52:hover {
    background-color: #ddd6fe;
    color: var(--forground);
    box-shadow: none;
}