/* montserrat-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v31-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('../fonts/montserrat-webfont.woff') format('woff');
}

/* montserrat-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v31-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* varela-round-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/varela-round-v21-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */ url('../fonts/varela_round-webfont.woff') format('woff');
}

:root {
    --forground: #181617;
    --background: #edece3;
    --primary: hsl(49, 100%, 50%);
    --primary-overlay: hsl(51, 99%, 60%);
    --secondary: hsl(320, 4%, 15%);
    --secondary-overlay: hsl(20, 2%, 34%);
    --highliter: hsl(1, 100%, 64%);
    --border: hsl(330, 4%, 9%);
    --font-18: 1.125rem;
    --font-88: 5.5rem;
    --font-48: 3rem;
    --font-24: 1.5rem;
    --font-72: 4.5rem;
    --font-40: 2.5rem;
    --font-32: 2rem;
    --height-25: 1.5625;
    --container: 69.375rem;
    --shadow-2xs: 2px 3px 5px 0px hsl(28 13% 20% / 0.06);
    --shadow-xs: 4px 3px 8px 0px hsl(28 13% 20% / 0.06);
    --shadow-sm: 2px 3px 5px 0px hsl(28 13% 20% / 0.12);
    --font-sans: Libre Baskerville, serif;
    --font-serif: Lora, serif;
    --font-mono: IBM Plex Mono, monospace;
}

.dark {
    --background: #121212;
    --foreground: #e2e8f0;
    --card: #171717;
    --card-foreground: #e2e8f0;
    --popover: #242424;
    --popover-foreground: #a9a9a9;
    --primary: #006239;
    --primary-foreground: #dde8e3;
    --secondary: #242424;
    --secondary-foreground: #fafafa;
    --muted: #1f1f1f;
    --muted-foreground: #a2a2a2;
    --accent: #313131;
    --accent-foreground: #fafafa;
    --destructive: #541c15;
    --destructive-foreground: #ede9e8;
    --border: #292929;
    --input: #242424;
    --ring: #4ade80;
    --chart-1: #4ade80;
    --chart-2: #60a5fa;
    --chart-3: #a78bfa;
    --chart-4: #fbbf24;
    --chart-5: #2dd4bf;
    --sidebar: #121212;
    --sidebar-foreground: #898989;
    --sidebar-primary: #006239;
    --sidebar-primary-foreground: #dde8e3;
    --sidebar-accent: #313131;
    --sidebar-accent-foreground: #fafafa;
    --sidebar-border: #292929;
    --sidebar-ring: #4ade80;
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-xs: 0px 1px 3px 0px hsl(0 0% 0% / 0.09);
    --shadow-sm: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 1px 2px -1px hsl(0 0% 0% / 0.17);
    --shadow-md: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 2px 4px -1px hsl(0 0% 0% / 0.17);
    --shadow-lg: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 4px 6px -1px hsl(0 0% 0% / 0.17);
    --shadow-xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.17), 0px 8px 10px -1px hsl(0 0% 0% / 0.17);
    --shadow-2xl: 0px 1px 3px 0px hsl(0 0% 0% / 0.43);
}


body {
    letter-spacing: var(--tracking-normal);
}

::selection {
    color: var(--background);
    background-color: var(--forground);
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    /* background-image: linear-gradient(to bottom,white,#f5f1e6,white);*/
    background-color: var(--background);
    color: var(--forground);
    font-family: var(--font-sans), serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}


/*
.wrapper{
    width: 100%;
    max-width: var(--container);
    margin-inline: auto;
}
!*600px*!
@media(min-width:37.5em){
    .wrapper{
        width: calc(100%- 3.75rem);
    }
}
*/


.nav__container {
    width: 100%;
    background-color: var(--background);
    color: var(--foreground);
    padding: 1.1rem;
    box-shadow: var(--shadow-2xs);
    border-bottom: 1px solid var(--border);
    font-family: "Cascadia Mono", serif;
}

.nav__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & li {
        list-style-type: none;

        font-size: var(--font-18);
        font-weight: lighter;
    }

    & a {
        color: var(--secondary);
        padding-inline: 1rem;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    & a:hover {
        text-decoration: underline;
        text-decoration-color: var(--forground);
        text-underline-offset: 2px;
    }
}

.nav__links li:first-child {
    display: flex;
    align-items: center; /* Vertically center icon and text */
    margin-right: auto;
    padding-right: 0.6rem;
    text-decoration: none;
    font-weight: bold;
    line-height: 1rem;
    font-size: var(--font-24);


    &::before {
        content: "airwave";
        font-family: "Material Symbols Outlined";
        font-size: var(--font-24);
        color: var(--secondary-overlay);
        display: inline-block;
        line-height: 1; /* Ensure tight vertical alignment */
    }
}

.nav__links li:first-child mark {
    /*background-color: var(--primary-overlay);*/
    background-color: transparent;
    color: #b54a35;
}

.nav__links li:first-child a:hover {
    text-decoration: none;

}


/* Footer */
.footer__container {
    width: 100%;
    background-color: var(--background);
    color: var(--foreground);

    padding: 1.1rem;
    border-top: 1px solid var(--border);
    box-shadow: var(--shadow-xs);
    font-size: var(--font-18);
    font-family: serif;
    font-weight: lighter;
    position: relative;

}


.footer__links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    & li {
        list-style-type: none;
        width: auto;
        font-size: var(--font-18);
        font-weight: lighter;

    }

    & li a {
        padding-right: 1rem;


    }
}

.footer__links svg:hover {
    fill: hsl(320, 4%, 15%);


}

& svg {
    fill: hsl(20, 2%, 34%);
    line-height: 1rem;
}

.footer__links li:first-child {


    position: absolute;
    bottom: inherit;
    left: 50%;

    transform: translate(-50%);

}


::selection {
    background-color: var(--forground);
    color: var(--background);
}


