body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header {
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

button {
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 14px 20px;
    margin: 7px 0;
    font-size: 16px;
    /* border: 1px solid #252526; */
    font-weight: 400;
    min-width: 120px;
    max-width: 200px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
}

button:hover {
    background-color: var(--button-hover);
}

input[type="text"] {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    width: 329px;
    height: 47px;
    border-radius: 4px;
    outline: none;
    color: var(--text-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

input[type="text"]:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 5px #bd93f980;
}

input::placeholder {
    color: var(--primary-color);
}

.box {
    /* border: 1px solid #444 ; */
    width: 500px;
    height: 500px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.checkbox-wrapper-2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    margin-left: 115px;
}

/* Custom Checkbox Styling */
.checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #252526;
    border: 2px solid #494949;
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.checkbox-wrapper-2 .ikxBAC::after {
    content: "";
    background-color: transparent;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s ease-in-out;
}

.checkbox-wrapper-2 .ikxBAC:hover {
    border: 1px solid var(--primary-color);
}

.checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #caa9fa;
    /*border-color: var(--primary-color);*/
    border: 1px solid var(--primary-color);
}

.checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: var(--primary-color);
    transform: translate(-50%, -50%) scale(1);
}
