main {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: center;
    justify-content: center;
    background-color: #f5f5f5f5;
    color: #1a1a1a1a;
    /* Change the color of the "Sign Up" link when an input is invalid */
}

.form__container {
    color: var(--card-foreground);
    background-color: #fff;
    padding: 2rem;
    border: 1px solid var(--ring);
    outline: #414141;
    display: flex;
    flex-direction: column;
    font-family: var(--font-montserrat), sans-serif;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-inline: auto;
    border-radius: 1rem;
    min-width: 400px;
    min-height: 300px;
    box-shadow: var(--shadow-lg, 0 4px 10px rgba(0, 0, 0, 0.1));
}

.form__heading h2 {
    font-size: var(--font-40);
    font-family: var(--font-mono), sans-serif;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.2rem;
    font-weight: 700;
    color: var(--c-gray-500);
}

.input__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1 1 auto;
    padding: 1rem;
}

.input__container label {
    font-family: var(--font-mono), sans-serif;
    font-size: var(--font-18);
    color: var(--title-color);
    display: block;
    width: 100%;
}

.input__container input[type="email"],
.input__container input[type="password"] {
    padding: 1rem 1.4rem;
    border: 1px solid var(--ring);
    background-color: transparent;
    color: #414141;
    border-radius: 0.6rem;
    font-size: var(--font-18);
    transition: box-shadow 0.2s ease;
    width: 20.5625rem;
    height: 2.9375rem;
}

.input__container input:focus {
    outline: none;
    box-shadow: var(--shadow-2xl);
}

.text__login {
    color: var(--foreground);
    font-size: var(--font-18);
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    width: 100%;

    font-family: var(--font-mono), sans-serif;
}

.text__login a {
    color: var(--ring);
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: lighter;
    font-size: var(--font-18);
}

.text__login a:hover {
    color: var(--c-gray-500);
    text-decoration: underline;
    text-underline-offset: 3px;
}

.form__container {
    align-self: flex-end;
}

.form__container button {

    font-family: var(--font-mono), sans-serif;
    padding: .6rem 1.4rem;
    border-radius: 10px;
    box-shadow: var(--shadow-2xl, 0 5px 10px rgba(0, 0, 0, 0.1));
    margin-inline: auto;
    border: 1px solid var(--c-gray-500);
    font-size: var(--font-18);
    transition: all 0.2s ease-in-out;
    transform: translate3d(0, 0, 0);
}

.form__container button:hover {

    box-shadow: none;
    cursor: pointer;
    color: var(--foreground);
    filter: brightness(0.9);
    transform: scaleX(1.05);
    transform: translate3d(1px, 1px, 1px);
}

input[type="email"]:user-invalid,
input[type="password"]:user-invalid {
    border-color: var(--destructive);
    background-color: rgba(255, 0, 0, 0.1);
}

input[type="email"]:user-valid,
input[type="password"]:user-valid {
    border-color: var(--success);
    background-color: rgba(0, 255, 0, 0.1);
}

input[type="email"]:user-valid:focus,
input[type="password"]:user-valid:focus {
    box-shadow: var(--shadow-2xl);
    border-color: var(--success);
}

.form__group {
    position: relative;
    margin-bottom: .7rem;
}

.form__label-h2 {

    font-size: var(--font-18);
    line-height: 1;
    text-transform: capitalize;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 20px;
    padding-inline: 4px;
    top: 13px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    opacity: 0.6;
    font-family: var(--font-sans), sans-serif;
    font-weight: 500;
    color: var(--c-gray-500);
    z-index: 1;
    pointer-events: none;

}


input:focus ~ .form__label-h2, .form__group input:not(:placeholder-shown) ~ .form__label-h2 {
    font-size: var(--font-18);
    line-height: 1;
    text-transform: capitalize;
    display: inline-block;
    position: absolute;
    left: 20px;
    padding-inline: 3px;
    top: -10px;

    opacity: 1;
    z-index: 1;
    /* background-color: var(--c-gray-100); */
    background-color: #fff;
    font-family: var(--font-sans), sans-serif;
    font-weight: 500;
    color: var(--c-gray-500);
}