
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    color: #414141;
    background-color: #f5f5f5;
}


.form__container {
    border-radius: .6rem;
    border: 1px solid var(--ring);
    background-color: #fff;
    position: relative;
}

.form__container form {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding: 2rem;
    gap: 0.6rem;
    border-radius: 0.8rem;


}

.form__heading h2 {
    font-size: var(--font-40);
    color: var(--c-gray-500);
    text-align: center;
    font-family: var(--font-mono), sans-serif;
    font-weight: 700;

}

input[type="text"],
input[type="email"],
input[type="password"] {

    padding: 1rem 1.4rem;
    font-size: var(--font-18);
    width: 20.5625rem;
    height: 2.9375rem;
    border-radius: 4px;
    outline: none;
    color: #414141;
    background-color: transparent;
    border: 1px solid var(--ring);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    box-shadow: var(--shadow-2xl);
}

form fieldset {
    /* margin: 10px; */
    margin-top: 0;
    border: 2px solid transparent;
    display: flex;
    gap: 10px;
    font-family: var(--font-montserrat), sans-serif;
    font-size: var(--font-24);
    font-weight: 600;
    align-items: center;
    padding: 10px;

    /* cursor: pointer; */
}

fieldset label {
    cursor: pointer;
    margin-right: 10px;
    font-weight: lighter;
    font-size: var(--font-18);
    font-family: var(--font-montserrat);
    color: var(--c-gray-500);
    text-transform: capitalize;
    font-weight: lighter;

}

input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid var(--ring);
    background-color: #ffffff;

    cursor: pointer;
}

legend {
    color: var(--title-color);
    font-size: var(--font-18);
    font-weight: 400;
}

input[type="radio"]:checked {
    background-color: var(--c-red-500);
    border: 1px solid var(--c-red-500);
    filter: drop-shadow(0 0 0.2rem var(--c-red-500));
}

.text__login {
    color: var(--foreground);
    font-size: var(--font-18);

    text-align: center;
    font-weight: lighter;

    width: 100%;
    margin-top: 10px;

    font-family: var(--font-mono), sans-serif;
}

.text__login a {
    color: var(--ring);
    text-decoration: none;
    font-weight: lighter;
    font-size: var(--font-18);
    margin-inline: auto;
}

.text__login a:hover {
    color: var(--c-gray-500);
    text-decoration: underline;
    text-underline-offset: 3px;

}


.form__container button {
    font-family: var(--font-mono), sans-serif;
    /* outline: 1px solid var(--c-gray-500); */
    border: 1px solid var(--c-gray-500);
    margin-inline: auto;
    background-color: #f5f5f5;
    font-size: var(--font-18);
    transition: all 0.2s ease-in-out;
    padding: 0.6rem 1.4rem;
    border-radius: 10px;
    transform: translate3d(0, 0, 0);
}

.form__container button:hover {
    border: 1px solid var(--c-gray-500);
    cursor: pointer;
    filter: brightness(0.9);
    transform: translate3d(1px, 1px, 1px);


}

.form__group {
    position: relative;
    margin-bottom: .7rem;
}

.form__label-h2 {

    font-size: var(--font-18);
    line-height: 1;
    text-transform: capitalize;
    display: inline-block;
    position: absolute;
    z-index: 1;
    left: 20px;
    padding-inline: 4px;
    top: 13px;
    transition: all 0.2s ease-in-out;
    text-align: center;
    opacity: 0.6;
    font-family: var(--font-sans), sans-serif;
    font-weight: 500;
    color: var(--c-gray-500);
    z-index: 1;
    pointer-events: none;

}


input:focus ~ .form__label-h2, .form__group input:not(:placeholder-shown) ~ .form__label-h2 {
    font-size: var(--font-18);
    line-height: 1;
    text-transform: capitalize;
    display: inline-block;
    position: absolute;
    left: 20px;
    padding-inline: 3px;
    top: -10px;

    opacity: 1;
    z-index: 1;
    /* background-color: var(--c-gray-100); */
    background-color: #fff;
    font-family: var(--font-sans), sans-serif;
    font-weight: 500;
    color: var(--c-gray-500);
}