body {
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

header {
    background-color: var(--background);
    color: var(--text-color);
    text-align: center;

    width: 100%;
}

/* Styling the main section */
main {
    width: 100%;
    margin-top: 100px; /* to account for fixed header */
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 90%;
    /* max-width: 1000px; */
    /* margin: 0 auto; */
    border-collapse: collapse;
    font-weight: 400;
    background-color: #2b2b2b;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

th,
td {
    padding: 12px 16px;
    text-align: left;
    border: 1px solid #444;
    height: 50px;
}

th {
    background-color: var(--background);
    color: var(--text-color);
    font-weight: 600;
    border: 1px solid #444;
}

tr:nth-child(even) {
    background-color: #3a3a3a;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}
