<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>Display Songs</title>

    <link rel="icon" th:href="@{/images/music.png}" type="image/png"/>
    <!--    <link href="../static/displaySongs.css" rel="stylesheet">-->
    <link rel="stylesheet" th:href="@{/css/adminStyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/displaySongs.css}"/>

    <!--    <link href="../static/commonStyles.css" rel="stylesheet">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap"
          rel="stylesheet">

</head>

<h1 class="brand">
    <span class="material-symbols-outlined">music_cast</span><a class="logo" href="home">TuneHub</a>
</h1>
<ul class="nav-links">
    <li><a href="admin">Admin panel</a></li>
    <li><a href="registration">Signup</a></li>
    <li><a href="logout">Logout</a></li>
</ul>
</div>
</nav>


<header>
    <h1>SONGS</h1>
</header>
<main>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Play</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="songs:${song}">
            <td th:text="${songs.name}"></td>
            <td th:text="${songs.artist}"></td>
            <td th:text="${songs.genre}"></td>
            <td>
                <audio controls>
                    <source th:src="${songs.link}"/>
                </audio>
            </td>
        </tr>
        </tbody>
    </table>
</main>
<footer>
    <p>&copy; 2025 TuneHub Music Streaming App. All rights reserved.</p>
</footer>

</body>

</html>