<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/admin.css}" />
  </head>
  <body>
    <header>
      <h1>Admin Dashboard</h1>
      <h4>Manage your songs and playlists</h4>
    </header>

    <div class="container">
      <button class="button-52" onclick="location.href='viewSongs'">
        VIEW SONGS
      </button>
      <button class="button-52" onclick="location.href='createPlaylists'">
        CREATE PLAYLIST
      </button>
      <button class="button-52" onclick="location.href='updatePlaylist'">
        UPDATE PLAYLIST
      </button>
      <button class="button-52" onclick="location.href='viewPlaylists'">
        VIEW PLAYLISTS
      </button>
    </div>
  </body>
</html>
