<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/createPlaylists.css}" />

    <title>PLAYLIST</title>
  </head>
  <body>
    <header>
      <h1>CREATE PLAYLIST</h1>
    </header>

    <div class="container">
      <div class="box">
        <form action="addPlaylists" method="post">
          <label for="playlistName" class="text-white">Playlist Name:</label>
          <input
            class="input-field"
            type="text"
            id="playlistName"
            name="name"
            required
          />

          <div th:each="songs:${song}" class="checkbox">
            <div class="checkbox-wrapper-2">
              <label>SONGS:</label>
              <label>
                <input
                  type="checkbox"
                  th:name="songs"
                  th:value="${songs.id}"
                  class="ikxBAC"
                />
              </label>
              <label th:text="${songs.name}"></label>
            </div>
          </div>

          <button class="button-52">CREATE</button>
        </form>
      </div>
    </div>
  </body>
</html>
