<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- Google Fonts -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

<!-- Stylesheets -->
<link rel="stylesheet" th:href="@{/customer.css}" />

<title>Customer Dashboard</title>
</head>
<body>

	<!-- Navbar -->
	<nav class="navbar">
		<div class="nav-container">
			<h1 class="brand">
				<span class="material-symbols-outlined">music_cast</span> Music
			</h1>
			<ul class="nav-links">
				<li><a href="login">Login</a></li>
				<li><a href="registration">Signup</a></li>
				<li><a href="logout">Logout</a></li>
			</ul>
		</div>
	</nav>

	<!-- Main Content -->
	<div class="container">
		<header>
			<h1>Customer Dashboard</h1>
		</header>

		<div th:if="${isPremium}" class="premium">
			<h2>Premium Songs</h2>
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Artist</th>
						<th>Genre</th>
						<th>Control</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="song:${songs}">
						<td th:text="${song.name}"></td>
						<td th:text="${song.artist}"></td>
						<td th:text="${song.genre}"></td>
						<td><audio controls>
								<source th:src="${song.link}" type="audio/mpeg" />
							</audio></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:unless="${isPremium}" class="non-premium">
			<h2>Upgrade to Premium</h2>
			<form action="pay">
				<button class="button-52">GET PREMIUM</button>
			</form>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<p>&copy; 2025 TuneHub Music Streaming App. All rights reserved.</p>
	</footer>

</body>
</html>
