<!doctype html>
<html data-theme="light"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title layout:title-pattern="$CONTENT_TITLE">Login</title>

    <link rel="stylesheet" th:href="@{/main.css}">
</head>

<body class="min-h-screen flex items-center justify-center bg-white">
<main layout:fragment="content" class="w-full max-w-lg px-6"></main>
</body>

</html>
