<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/login.css}">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>
<header>
    <h1>User Login</h1>
</header>

<main>
    <form id="loginForm" action="validate" method="post">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="email">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
</main>

<script>
    // Select the form and reset it when the page loads
    document.getElementById('loginForm').reset();
</script>
</body>
</html>