<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SONGS</title>
</head>
<body>


<h1>SONGS</h1>
<br>
<br>
<form action="addSong" method="post">
    <label for="songName">Song Name:</label>
    <input type="text" id="songName" name="name">
    <br>
    <br>
    <label for="artist">Artist:</label>
    <input type="text" id="artist" name="artist">
    <br>
    <br>
    <!--    <label for="album">Album:</label>-->
    <!--    <input type="text" id="album" name="album">-->
    <!--    <br>-->
    <!--    <br>-->
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre">
    <br>
    <br>
    <!--    <label for="releaseDate">Release Date:</label>-->
    <!--    <input type="text" id="releaseDate" name="releaseDate">-->
    <!--    <br>-->
    <!--    <br>-->
    <!--   list of songs -->

    <label for="songLink">Song Link:</label>
    <input type="text" id="songLink" name="link">

    <input type="submit" value="Add Song">


</form>


</body>
</html>