<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" th:href="@{/premiumUser.css}" />
    <title>Customer</title>
</head>
<body>
<header>
    <h1>Customer Dashboard</h1>
</header>

<div>

    <!--    <button class="button-52" onclick="location.href='playSongs'">-->
    <!--      PLAY SONGS-->
    <!--    </button>-->

<!--    <form action="playSongs">-->
<!--        <button class="button-52">-->
<!--            GET PREMIUM-->
<!--        </button>-->
<!--    </form>-->

    <form action="logout">
        <button class="button-52">
            LOGOUT
        </button>
    </form>
    <!--    <form action="viewSongs">-->
    <!--        <button class="button-52">-->
    <!--            VIEW SONGS-->
    <!--        </button>-->
    <!--    </form>-->




</div>
<!--    <form action="playSongs">-->
<!--      <div>-->
<!--        <input type="submit" value="PLAY SONGS" />-->
<!--      </div>-->
<!--    </form>-->
</body>
</html>
