<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Registration</title>
     <link rel="stylesheet" th:href="@{/registration.css}" />
    <link rel="stylesheet" th:href="@{/commonStyles.css}"/>
<!--    <link rel="stylesheet" href="../static/registration.css"/>-->
<!--    <link rel="stylesheet" href="../static/commonStyles.css">-->

    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@400&display=swap"
    />
</head>

<body>
<!-- Navbar -->

<nav class="navbar">
    <div class="nav-container">
        <h1 class="brand">
          <span class="material-symbols-outlined">music_cast</span
          ><a href="#" class="logo">TuneHub</a>
        </h1>
        <ul class="nav-links">
            <li><a href="home">Home</a></li>
            <li><a href="login">Login</a></li>
            <li><a href="pay">Subscribe</a></li>
        </ul>
    </div>
</nav>

<!-- Header section starts here -->

<!-- Header section ends here -->

<!-- Main section starts here -->
<main>
    <!-- Registration form starts here -->
    <form action="register" method="post" autocomplete="off">
        <h2>Welcome!</h2>
        <!-- <label class="required" for="username">Name:</label> -->
        <input
                type="text"
                id="username"
                name="username"
                placeholder="enter username"
                required
                class="form-input"
        />
        <!-- <label class="required" for="email">Email:</label> -->
        <input
                type="email"
                id="email"
                name="email"
                placeholder="enter email address"
                required
                class="form-input"
        />
        <!-- <label class="required" for="password">Password:</label> -->
        <input
                type="password"
                id="password"
                name="password"
                placeholder=" enter password"
                required
                class="form-input"
        />

        <!-- Gender selection starts here -->
        <div class="fieldset-container">
            <fieldset class="gender">
                <legend class="required">Gender</legend>
                <input type="radio" id="male" name="gender" value="male"/>
                <label for="male">Male</label>
                <input type="radio" id="female" name="gender" value="female"/>
                <label for="female">Female</label>
                <input type="radio" id="other" name="gender" value="other"/>
                <label for="other">Other</label>
            </fieldset>

            <fieldset class="role">
                <legend class="required">Role</legend>
                <input type="radio" id="admin" name="role" value="admin"/>
                <label for="admin">Admin</label>
                <input type="radio" id="customer" name="role" value="customer"/>
                <label for="customer">Customer</label>
            </fieldset>
        </div>

        <input
                type="text"
                id="address"
                name="address"
                placeholder="enter present address"
                required
                class="form-input"
        />

        <div class="button-container">
            <button type="submit" value="Register">
                <span class="material-symbols-outlined">app_registration</span>
                Sign Up
            </button>
        </div>

        <div class="text-login">
            <p class="botton-para">Already have an account?</p>

            <p><a href="login">Log In</a></p>
        </div>
    </form>
    <!-- Registration form ends here -->
</main>
<!-- Main section ends here -->

<!-- Footer section starts here -->
<footer>
    <p>&copy; 2025 TuneHub Music Streaming App. All rights reserved.</p>
</footer>
<!-- Footer section ends here -->
</body>
</html>
