<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
<!--    <style>-->
<!--        /* Resetting default styles and setting global styles */-->
<!--        * {-->
<!--            margin: 0;-->
<!--            padding: 0;-->
<!--            box-sizing: border-box;-->
<!--            font-family: sans-serif;-->
<!--        }-->

<!--        /* Adding asterisk after required fields */-->
<!--        .required::after {-->
<!--            content: ' *';-->
<!--            color: red;-->
<!--        }-->

<!--        /* Styling the header */-->
<!--        header {-->
<!--            background-color: #333;-->
<!--            color: white;-->
<!--            text-align: center;-->
<!--            padding: 10px;-->
<!--        }-->

<!--        /* Styling the main section */-->
<!--        main {-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--            height: 100vh;-->
<!--            background-color: #3c3c3c;-->
<!--        }-->

<!--        /* Styling the form */-->
<!--        form {-->
<!--            display: flex;-->
<!--            flex-direction: column;-->
<!--            align-items: center;-->
<!--            background-color: #ffffff;-->
<!--            padding: 20px;-->
<!--            border-radius: 10px;-->
<!--            width: 500px;-->
<!--            margin: 0 auto;-->
<!--            height: 600px;-->
<!--            flex-wrap: wrap;-->
<!--        }-->

<!--        /* Styling the first label */-->
<!--        form label:nth-child(2) {-->
<!--            margin-top: 20px; /* added margin-top */-->
<!--        }-->

<!--        /*!* Styling the form inputs *!*/-->
<!--        /*.form-input {*/-->
<!--        /*    !*margin: 10px;*!*/-->
<!--        /*    padding: 10px;*/-->
<!--        /*    font-size: 16px;*/-->
<!--        /*    border-radius: 5px;*/-->
<!--        /*    border: 1px solid #ccc;*/-->
<!--        /*    margin-top: 10px;*/-->
<!--        /*}*/-->


<!--        /* Adding space between gender labels */-->
<!--        .gender label {-->
<!--            margin-right: 10px;-->
<!--            align-items: center;-->
<!--        }-->

<!--        /* Styling the form inputs */-->
<!--        form input {-->
<!--            margin: 10px;-->
<!--            padding: 10px;-->
<!--            font-size: 16px;-->
<!--            border-radius: 5px;-->
<!--            border: 1px solid #ccc;-->
<!--            /*margin-bottom: 20px;*/-->
<!--        }-->

<!--        /* Styling the submit button */-->
<!--        form input[type="submit"] {-->
<!--            background-color: #4CAF50;-->
<!--            color: white;-->
<!--            border: none;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        /* Styling the submit button on hover */-->
<!--        form input[type="submit"]:hover {-->
<!--            background-color: #0cff17;-->
<!--            /*color: black;*/-->
<!--        }-->

<!--        /* Styling the reset button on hover */-->
<!--        form input[type="reset"]:hover {-->
<!--            background-color: #0cff17;-->
<!--            /*color: black;*/-->
<!--        }-->

<!--        /* Styling the reset button */-->
<!--        form input[type="reset"] {-->
<!--            background-color: #4CAF50;-->
<!--            color: white;-->
<!--            border: none;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        fieldset {-->
<!--            margin-bottom: 20px;-->
<!--        }-->

<!--        /* Styling the footer */-->
<!--        footer {-->
<!--            background-color: #333;-->
<!--            color: white;-->
<!--            text-align: center;-->
<!--            padding: 10px;-->
<!--            position: absolute;-->
<!--            width: 100%;-->
<!--            display: flex;-->
<!--            justify-content: space-between;-->
<!--            align-items: center;-->
<!--            flex-wrap: wrap;-->
<!--        }-->

<!--        /* Styling the gender section */-->
<!--        .gender {-->
<!--            display: flex;-->
<!--            align-items: center; /* added align-items */-->
<!--        }-->

<!--        /* Styling the home links */-->
<!--        .home {-->
<!--            text-decoration: none;-->
<!--            color: white;-->
<!--            margin: 10px;-->
<!--        }-->

<!--        /* Styling the footer buttons */-->
<!--        footer input[type="button"] {-->
<!--            background-color: #4CAF50;-->
<!--            color: white;-->
<!--            border: none;-->
<!--            cursor: pointer;-->
<!--            padding: 10px;-->
<!--            flex-wrap: wrap;-->
<!--        }-->

<!--        /* Styling the footer buttons on hover */-->
<!--        footer input[type="button"]:hover {-->
<!--            background-color: #0cff17;-->

<!--        }-->

<!--        .h1 {-->
<!--            margin-bottom: 10px;-->
<!--        }-->


<!--    </style>-->
</head>
<body>
<!-- Header section starts here -->
<header>
    <h1 class="h1">Welcome to Tunehub</h1>
    <p>Register to get started</p>
</header>
<!-- Header section ends here -->

<!-- Main section starts here -->
<main>
    <!-- Registration form starts here -->
    <form action="">
        <p>Fields marked with an asterisk (*) are mandatory</p>
        <label class="required" for="username">Username:</label>
        <input type="text" id="username" name="username" placeholder="enter username" required class="form-input">
        <label class="required" for="password">Password:</label>
        <input type="password" id="password" name="password" placeholder=" enter password" required class="form-input">
        <label class="required" for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="enter email address" required class="form-input">

        <!-- Gender selection starts here -->

        <fieldset class="gender">
            <legend class="required">Gender:</legend>
            <input type="radio" id="male" name="gender" value="M">
            <label for="male">Male</label>
            <input type="radio" id="female" name="gender" value="F">
            <label for="female">Female</label>
            <input type="radio" id="other" name="gender" value="O">
            <label for="other">Other</label>
        </fieldset>
        <!-- Gender selection ends here -->

        <label class="required" for="address">Address:</label>
        <input type="text" id="address" name="address" placeholder="enter present address" required class="form-input">
        <input type="submit" value="Register" class="form-input">
        <input type="reset" value="Reset" class="form-input">
    </form>
    <!-- Registration form ends here -->
</main>
<!-- Main section ends here -->

<!-- Footer section starts here -->
<footer class="footer">
    <div>
        <p>&copy; 2021 Tunehub</p>
    </div>
    <div>
        <a class="home" href="index.html"><input type="button" value="Home"></a>
        <a class="home" href="#"><input type="button" value="Top"></a>
    </div>
</footer>
<!-- Footer section ends here -->
</body>
</html>