<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>Document</title>
</head>

<body>

<form action="updatePlaylist">
    <label for="id">Playlist ID:</label>
    <input id="id" name="id" required type="text"/>

    <label for="songId">Song ID:</label>
    <input id="songId" name="songId" required type="text"/>

    <input type="submit" value="Update Playlist">
</form>

</body>

</html>