<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PLAYLIST</title>
    <link rel="stylesheet" th:href="@{/ViewPlaylist.css}"/>
</head>
<body>
<!--<script>-->
<!--    document.body.onmousemove = function (e) {-->
<!--        document.documentElement.style.setProperty('--x', (e.clientX + window.scrollX) + 'px');-->
<!--        document.documentElement.style.setProperty('--y', (e.clientY + window.scrollY) + 'px');-->
<!--    }-->
<!--</script>-->

<!--<div id="invertedcursor"></div>-->
<header>
    <h1>PLAYLIST</h1>
</header>

<main>
    <table class="container">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Songs</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="all:${allPlaylist}">
            <td th:text="${all.id}"></td>
            <td th:text="${all.name}"></td>
            <td>
                <ul>
                    <li th:each="s1:${all.songs}">
                        <span th:text="${s1.name}"></span>
                        <audio controls>
                            <source th:src="${s1.link}">
                        </audio>
                    </li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>